@import url(http://fonts.googleapis.com/css?family=Audiowide);
  body{
    margin: 50px;
    background-color: black;
    color: grey;
   font-family: 'Audiowide', cursive;
      }

      h1{
   border: 3px double grey;
   font-family: 'Audiowide', cursive;
   background-color: lightblue;
   color: grey;
   font-size: 70px;
   letter-spacing: 20px;
   padding: 20px;
   margin: 0px;
       }
  nav{
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 60px;
      }

  a{
   text-decoration: none;
   color: lightgrey;
   
   padding: 5px;
   margin: 15px
   }
  
   a:hover{
     text-decoration: underline;
      }




