<!doctype html>
<html>
  <head>
     <meta charset="utf-8">
     <title>Indian Ocean</title>
     <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <header></header
  <nav>
     <a href="/">Homepage</a>
     <a href="/about">About</a>
     <a href="/music">Music</a>
     <a href="/tours">Tours</a>
  </nav>
  <section>
    <img src="/images/about.jpg">
    <p>
    Indian Ocean are an Indian rock band formed in New Delhi in 1990, who
    are considered to be the pioneers of the fusion rock genre in India. 
    Susmit Sen, Asheem Chakravarty, Rahul Ram and Amit Kilam were band
    members till Chakravarty's death on 25 December 2009, after which 
    Tuheen Chakravorty and Himanshu Joshi were officially inducted
    into the band as replacements. After the departure of Susmit Sen 
    in 2013, Rahul Ram is the only remaining member who appeared on the 
    band's debut album Indian Ocean.
    </p>
    <p>
    The musical style of the band can be at best classified as fusion music. 
    Some music critics describe the band's music as "Indo-rock fusion with 
    jazz-spiced rhythms that integrates shlokas, sufism, environmentalism,
    mythology and revolution".
    </p>
    <p>
    Since 2010, the band has moved against the lines of record labels. 
    They released their latest album 16/330 Khajoor Road online for free. 
    The main reason for this move was the frustration over negotiating 
    contracts with record companies and fighting over copyright issues.
    They have turned to concerts and sponsorships for generating revenue
    rather than playing in the hands of record labels. They are also a part
    of the world's first Music Personalisation Initiative named DRP as one 
    of the five Featured Artists.
    </p>
  </section>
  <footer>
    <strong> <small>(c) 2014 Indian Ocean Fanpage Inc.</small></strong>
  </footer>
 </body>
  </html>  
