
<!doctype html>
<html>
  <head>
     <meta charset="utf-8">
     <title>Music</title>
     <h1>Indian Ocean</h1>
     <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <header></header
  <nav>
     <a href="/">Homepage</a>
     <a href="/about">About</a>
     <a href="/music">Music</a>
     <a href="/tours">Tours</a>
  </nav>
  <section>
    <img src="/images/music.gif">
    <h3>Music Albums</h3>
    <ul>
      <li>Indian Ocean</li>
      <li>Desert Rain</li>
      <li>Kandisa</li>
      <li>Jhini</li>
      <li>Black Friday</li>
      <li>Bhoomi</li>
      <li>Gulaal</li>
      <li>Mumbai Cutting</li>
      <li>16/330 Khajoor Road</li>
      <li>Peepli Live</li>
     </ul>
  </section>
  <footer>
    <strong> <small>(c) 2014 Indian Ocean Fanpage Inc.</small></strong>
  </footer>
 </body>
  </html>  
