
<!doctype html>
<html>
  <head>
     <meta charset="utf-8">
     <title>Tours</title>
     <h1>Indian Ocean</h1>
     <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <header></header
  <nav>
     <a href="/">Homepage</a>
     <a href="/about">About</a>
     <a href="/music">Music</a>
     <a href="/tours">Tours</a>
  </nav>
  <section>
    <img src="/images/tours.jpg">
    <h2>Upcoming Tours</h2>
    <p>There are no upcoming tours. Will keep you updated for upcomig events.</p>
  </section>
  <footer>
    <strong> <small>(c) 2014 Indian Ocean Fanpage Inc.</small></strong>
  </footer>
 </body>
  </html>  
